@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#root{
  min-height: 200vh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  transition: background-color 0.5s ease, box-shadow 0.3s ease;
}
